<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        nav {
            font-size: 1.5rem;
            background-color: #21D4FD;
            background-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: -o-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        }

        h1 {
            font-size: 2rem;
            color: white;
        }

        li {
            margin: 10px 20px;
        }

        #searchBox {
            width: 300px;
            float: right;
        }
    </style>

</head>
<body>
<!--导航栏替换-->
<div th:replace="~{commons/commons :: topbar(active='books.html')}"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">图书详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group">
                        <label for="isbn" >isbn:</label>
                        <input type="text" class="form-control" id="isbn">
                    </div>
                    <div class="input-group">
                        <label for="cip" class="col-form-label">cip:</label>
                        <input class="form-control" id="cip">
                    </div>
                    <div class="input-group">
                        <label for="publisher" class="col-form-label">出版社:</label>
                        <input class="form-control" id="publisher">
                    </div>
                    <div class="input-group">
                        <label for="out_price">定&nbsp;&nbsp;&nbsp;&nbsp;价</label>
                        <input type="text" class="form-control" id="out_price"  required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px">
    <a th:href="@{/putBook}" class="btn btn-outline-primary btn-lg">添&nbsp;&nbsp;&nbsp;&nbsp;加</a>

    <div th:action="@{/searchBook}" id="searchBox">

        <div class="input-group">
            <select class="custom-select" id="selectType" onchange="selectType()">
                <option value="0" selected>查找方式</option>
                <option value="1" selected>根据书名查找</option>
                <option value="2">根据类别查找</option>
                <option value="3">根据书号查找</option>
            </select>
            <input type="text" class="form-control" placeholder="输入关键词..." id="keyword" name="keyword">
            <input type="submit" class="input-group-append btn btn-success"  value="搜  索" onclick="getSelectTypeAndName()">
        </div>
    </div>
    <div style="clear: both"></div>
    <table id="table" class="table table-hover" style="margin-top: 20px">
        <thead>
            <th>序号</th>
            <th>书名</th>
            <th>ISBN</th>
            <th>类型</th>
            <th>内容</th>
            <th>发行时间</th>
         <!--   <th>总数量</th>-->
            <!--<th>库存</th>-->
            <th>状态</th>
            <th>借阅人</th>
            <th>操作</th>
        </thead>
        <tbody id="Tbody"></tbody>
    </table>

</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{js/book_all.js}"></script>
</body>
</html>