html, body {
    height: 100%;
}

body {
    display: flex;
    padding: 40px 40px;
    background-color: #8EC5FC;
    background-image: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -moz-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: -o-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.box1 {
    width: 60%;
    margin-top: 60px;
}

.box2 {
    margin: 120px auto;
}