nav {
    font-size: 1.5rem;
    background-color: #21D4FD;
    background-image: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -moz-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: -o-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

h1 {
    font-size: 2rem;
    color: white;
}

li {
    margin: 10px 20px;
}

th {
    width: 100px;
}

label {
    margin: auto;
    padding-right: 20px;
}

.input-group {
    margin-bottom: 10px;
}
.container{
    margin:0% 40%;
}
.top{
    height: 120px;
    box-shadow:0 0 10px 5px darkgray;
    margin-bottom: 50px;
}
.top-1{
    text-align:center;
    line-height: 150px;
    font-size: 30px;
}
.top-2{
    text-align:center;
    line-height: 150px;
}
.form-li{
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    text-align:left;
    font-size: 22px;
}
